body {
    background-color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.3;
}

body .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*  background: #000;*/
    background: linear-gradient(180deg, #000, transparent);
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}