body {
    font-family: serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f3f0eb;
    color: #5a4a42;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
}

.container2 {
    max-width: 600px;
    margin: auto;
    background: #fff;
}

.titulo {
    font-size: 50px;
    font-weight: bold;
    color: #6b5845;
}

.subtitulo {
    font-size: 23px;
    color: #6b5845;
}

.stamp {
    margin: 20px auto;
    width: 220px;
    height: 220px;
    background: url('') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stamp h2,
.stamp p {
    margin: 0;
    color: #5a4a42;
}

.stamp h2 {
    font-size: 2em;
    font-weight: bold;
}

.stamp p {
    font-size: 1.2em;
    font-weight: bold;
    color: #8b6f5a;
}

.image {
    width: 100%;
    max-width: 600px;
    height: auto;
    opacity: 50%;
}

.text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
}

.text2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
}

.text3 {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-22%, -50%);
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
}

.contador {
    font-size: 35px;
    font-weight: bold;
    color: #5a4735;
}
.unidad {
    font-size: 10px;
    color: #5a4735;
    margin: 10px;
    display: inline-block;
}

.carousel {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.carousel img {
    width: 100%;
    display: none;
}

.carousel img.active {
    display: block;
}

.evento {
    margin: 50px 0;
}
.icono {
    font-size: 40px;
    color: #5a4735;
}
.titulo {
    font-size: 40px;
    font-style: italic;
    color: #5a4735;
    margin: 10px 0;
}
.detalle {
    font-size: 18px;
    color: #5a4735;
}
.mapa-btn {
    background-color: #5a4735;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}
.icon {
    font-size: 30px;
}

.dress-code {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.section {
    width: 45%;
}
.section img {
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
}
.section h2 {
    font-size: 18px;
    font-weight: bold;
}
.section p {
    font-size: 14px;
    margin: 5px 0;
}


.icon {
    font-size: 30px;
}

.dress-code {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.section {
    width: 45%;
}

.section img {
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
}

.section h2 {
    font-size: 18px;
    font-weight: bold;
}

.section p {
    font-size: 14px;
    margin: 5px 0;
}

.title2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.text2 {
    font-size: 16px;
    margin-bottom: 20px;
}

.circle {
    width: 200px;
    height: 200px;
    border: 4px dashed white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
}

.footer-text {
    font-size: 14px;
    width: 80%;
    display: inline-block;
}

.mesa-regalos {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 10px;
}

.mesa-regalos h2 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.mesa-regalos h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.mesa-regalos p {
    font-size: 14px;
    margin: 15px 0;
}

.logo {
    margin: 20px 0;
}

.evento-mesa {
    font-size: 16px;
}
