.stamp2 {
    margin: 20px auto;
    width: 220px;
    height: 220px;
    background: url('') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image4 {
    width: 275px;
    position: relative;
    top: 70%;
    left: 63%;
    transform: translate(-50%, -50%);
}